%link{:type => "text/css", :rel => "stylesheet", :href => "../assets/stylesheets/form.css"}

%h1 Create A New Account!

= form_for @user do |f|
    = f.label :username
    = f.text_field :username
    %p/
    = f.label :email
    = f.text_field :email
    %p/
    = f.label :password
    = f.text_field :password
    %p.last
    = f.submit "Create Account", class: 'custom-class'
